<div class="dialog">
  <h1>Top 5 Scores</h1>
  <div mat-dialog-content>
    <table class="table table-striped  table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of length">
        <th scope="row">#{{x+1}}</th>
        <td>{{leaderboard[x].name}}</td>
        <td>{{leaderboard[x].score}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

