<ng-container>
  <table>
    <tr *ngFor="let x of [0,1,2,3,4,5,6,7,8]" >
      <th *ngFor="let y of [0,1,2,3,4,5,6,7,8]" >
        <div *ngIf="grid.constant[x][y] then disable else change"></div>
        <ng-template #change>
          <div class="able">
            <mat-label *ngIf="suggestion_mode" class="suggestion">{{suggestions[x][y]}}</mat-label>
            <mat-select [value]="grid.gridElements[x][y]" class="tile-select"
                        [ngClass]="errors[x][y] ? 'tile-error' : ''"
                        (selectionChange)="selectTileValue(x,y,$event.value)"
                        (contextmenu)="setTileValueRightClick($event,x,y)">
              <mat-option style="font-size: 15px">-</mat-option>
              <mat-option style="font-size: 15px" *ngFor="let z of [1,2,3,4,5,6,7,8,9]" [value]="z">{{z}}</mat-option>
            </mat-select>
          </div>
        </ng-template>
        <ng-template #disable>
          <mat-option [ngClass]="errors[x][y] ? 'tile-error' : 'disable'" disabled>{{grid.gridElements[x][y]}}</mat-option>
        </ng-template>
      </th>
    </tr>
  </table>
</ng-container>
