<ng-container>
  <table>
    <tr *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]" >
      <th *ngFor="let y of [0,1,2,3,4,5,6,7,8,9]" >
        <!--
        <mat-form-field appearance="fill">
          <mat-select value="{{gridElement[x][y]}}">
            <mat-option *ngFor="let z of [0,1,2,3,4,5,6,7,8,9]" value="{{z}}">{{z}}</mat-option>
          </mat-select>
        </mat-form-field>
        -->
        <select>
          <option>{{gridElement[x][y].value}}</option>
          <option *ngFor="let z of [0,1,2,3,4,5,6,7,8,9]">{{z}}</option>
        </select>
      </th>
    </tr>
  </table>
</ng-container>
